*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html, body{
    height: 100%;
    widht: 100%;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;

}

#purple{
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 100;
    display: none;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vh;
}

#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}

#nav img{
    height: 24px;

}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

#nav h4{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

.page1 h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 6vw;

}

.page1 h2{
    font-size: 7vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 74vh;
    
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}


.page2{
    min-height: 80vh;
    width: 100%;
    padding: 0 5vw;
    border-bottom: 2px solid #6d6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;


}

.page2-container{
    /* background-color: blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    width: 100%;

}

.page2-left{
    width: 36%;
    font-size: 30px;

}
.page2-left h2{
    color: #111;
    line-height: 4vw;
    font-weight: 300;
}

.page2-right {
    width: 20%;
    font-size: 20px;
}
.page2-right p{
    color: #111;
}

.page2-right button{
    width: 100%;
    background-color: #EDBFFF;
    color: #111;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}


.page3{
    min-height: 120vh;
    width: 100%;
    color: #111;
    position: relative;
    z-index: 9;

}
.page3 h1{
    color: #111;
    font-size: 6.8vw;
    font-weight: 300;
    margin-left: 100px;




}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.page3-part1 img{
    height: 430px;
    width: 460px;
    margin-top: 140px;
}

.page3-part1 video{
    height: 400px;
    width: 450px;
}

.page4{
    min-height: 70vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 40px 100px;
    margin-bottom: 10px;
    
}

.elem{
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1){
    height: 300px;
    width: 300px;
    left: 2%;
}


.elem img:nth-child(3){
    height: 300px;
    width: 300px;
    right: 6.7%;
}

.text-div{
    height: 110px;
    overflow: hidden;
    color: black;
 
}

.text-div h1{
    font-size: 7.3vw;
    transition: all ease-out 0.5s;

}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0);
}

.page5{
    position: relative;
    z-index: 9;
    min-height: 100vh;
    width: 100%;
    padding: 140px 100px;
}


.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 50px;
}

.box{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    border-top: 2px solid #dadada;

}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

.footer{
    min-height: 50vh;
    width: 100%;
    background-color: red;
    margin-top: 20vh;

}